<section class="contx-header">
  <h2>Suprimentos</h2>
  <a href="#!/">todos os suprimentos</a>
</section>

<form class="form" name="supriForm">
  <div class="gd">
    <div class="gd-col-2">
      <label for="">Nome</label>
      <input type="text" id="nome" name="nome" value="" ng-model="supri.nome" required>
    </div>
    <div class="gd-col-2">
      <label for="">Tipo</label>
      <input type="text" id="tipo" name="tipo" value="" ng-model="supri.tipo" required>
    </div>
  </div>
  <div class="gd">
    <div class="gd-col-2">
      <label for="">Validade</label>
      <input type="date" id="validade" name="validade" value="" ng-model="supri.validade" ng-change="supri.isValid(supri.validade)" required>
    </div>
    <div class="gd-col-2">
      <label for="">Localizacao</label>
      <input type="text" id="localizacao" name="localizacao" value="" ng-model="supri.localizacao" required>
    </div>
  </div>
  <button type="submit" name="button" ng-click="supri.save()">save</button>
</form>
