/**
 * @file: components/_main.scss
 * @desc: Prove as configurações para o container principal
 * @resp: Leandro Vitor
 * @version: 0.0.1
 */

.main {
  width: 100%;
  padding: 1em 0;
}

.context_title {
  float: left;
  margin: 0 0 40px 0;
}
